@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Shippori Mincho", serif;
    background-color: #dfdbdb;
}

header .z-header {
    position: relative;
}

header .slide-show img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

header .z-ipjav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .z-ipjav h1 {
    font-size: 7rem;
    margin: 0;
}

header .z-ipjav p {
    font-size: 1.5rem;
}

header .z-ipjav span {
    color: rgb(255, 91, 91);
    font-size: 3rem;
    /* 縁取り */
    /* -webkit-text-stroke: .25px;
    -webkit-text-stroke-color: black; */
}

/* ここから代理理事紹介 */

.cover-intro {
    height: 100%;
}

.director-intro {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 200px;
    margin: 0 auto;
    padding: 20px;
}

.jufuku-img, .jufuku-sen {
    width: 40%;
}

.jufuku-img {
    text-align: center;
}

.jufuku-img img{
    width: 100%;
}

.jufuku-sen {
    font-size: 2rem;
}

.jufuku-sen .name {
    font-size: 3rem;
    border-bottom: 1px solid red;
}