@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Shippori Mincho", serif;
    background-color: #dfdbdb;
}

header .z-header {
    position: relative;
}

header .slide-show img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

header .z-ipjav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .z-ipjav h1 {
    font-size: 7rem;
    margin: 0;
}

header .z-ipjav p {
    font-size: 1.5rem;
}

header .z-ipjav span {
    color: rgb(255, 91, 91);
    font-size: 3rem;
    /* 縁取り */
    /* -webkit-text-stroke: .25px;
    -webkit-text-stroke-color: black; */
}

/*  */